<!DOCTYPE html>
<html class="w-screen">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.tailwindcss.com"></script>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
		<style>
			.bigSearchBar {
				position: absolute;
				z-index: 10;
				width: 80vw;
				height: 50vh;
				left: 0;
				top: 0;
				background-color: rgb(17 24 39);
				border-radius: 9999px;
				transition: all 2s ease-in-out;
				border-radius: 5px;
				padding: 20px!important;
				
			}
		</style>
	</head>
	<body class="w-screen bg-[url({{ asset('img/background.jpg') }})] bg-cover bg-center">
		<nav class=" h-10 text-xl flex items-center py-10 bg-gray-900">
			<ul class="flex justify-around items-center w-full">
				<li class="flex item-center ">
					<img src="{{ asset('img/logoText.png') }}" alt="logo" class="h-32">
					{% if app.user %}

						{# <span class="flex items-center px-4 text-white text-center text-xl ">Bonjour
						{{ app.user.name }}</span> #}

					{% endif %}
				</li>
				<li>
					{% if app.request.attributes.get('_route') == 'app_series_index' %}
						<a href="{{ path('app_series_index') }}" class="text-red-500	 px-4 py-2 relative inline-block group">
							Home
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					{% else %}
						<a href="{{ path('app_series_index') }}" class="text-white px-4 py-2 relative inline-block group">
							Home
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					{% endif %}
				</li>
				<li class="w-96 h-full bg-black rounded-full">
					<div id="searchBar" class="flex items-start justify-center w-full text-white p-3 z-2 transition-all duration-800 ease-in-out bg-grey-900">
						<button id="boutonClose" class="hidden absolute right-4 top-4 w-10 h-10 bg-red-500 rounded-full focus:outline-none">
							<p class="text-white text-2xl border-2 border-white rounded-full w-10 h-10 flex items-center justify-center">X</p>
						</button>
						<p id="pSearch">Recherche</p>
						<div id="formHidden" class="hidden w-full flex flex-col items-center justify-center">
							<h1 class="text-white text-2xl">Recherche</h1>
						<form class="w-full flex items-center justify-center" action="" method="get">
							<input type="text" name="search" class="w-10/12 h-8 bg-transparent text-white border border-white rounded-full px-4" placeholder="Recherche">
						</form>
						</div>
					</div>
				</li>

				{% if app.user %}
					<li>
						{% if app.request.attributes.get('_route') == 'app_series_list_follow' %}
							<a href="{{ path('app_series_list_follow') }}" class="text-red-500 px-4 py-2 relative inline-block group">
								List of followed series
								<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
							</a>
						{% else %}
							<a href="{{ path('app_series_list_follow') }}" class="text-white px-4 py-2 relative inline-block group">
								List of followed series
								<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
							</a>
						{% endif %}
					</li>
					<li>
						<button id="accountMenuBtn" class="text-white px-4 py-2 relative inline-block group focus:outline-none">
							Account Menu
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</button>
					</li>


					<div
						class="hidden absolute flex items-center flex-col w-auto rounded-sm border border-red-500 bg-white top-24 right-4 h-40 z-10 p-8" id="accountMenu">
						<!-- Liens pour le compte -->
						{% if app.user %}


							{% if is_granted('IS_IMPERSONATOR') %}
								<a href="{{ path('app_series_index',{'_switch_user': '_exit'}) }}" class="text-black px-4 py-2 relative inline-block group">
									Exit Embodiment
									<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
								</a>
							{% endif %}

							{% if app.user.isAdmin() %}
								<a href="{{ path('app_admin_panel') }}" class="text-black px-4 py-2 relative inline-block group">
									Admin Panel
									<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
								</a>
							{% endif %}
							<a href="{{ path('app_logout') }}" class="text-black px-4 py-2 relative inline-block group ">
								Logout
								<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
							</a>
						{% endif %}
					</div>

				{% else %}
					<li>
						{% if app.request.attributes.get('_route') == 'app_login' %}
						<a href="{{ path('app_login') }}" class="text-red-500 px-4 py-2 relative inline-block group">Login<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span></a>
						{% else %}
						<a href="{{ path('app_login') }}" class="text-white px-4 py-2 relative inline-block group">Login<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span></a>
						{% endif %}
					</li>
					<li>
						{% if app.request.attributes.get('_route') == 'app_register' %}
							<a href="{{ path('app_register') }}" class="text-red-500 px-4 py-2 relative inline-block group ">Register<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span></a>
						{% else %}
							<a href="{{ path('app_register') }}" class="text-white px-4 py-2 relative inline-block group ">Register<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span></a>
						{% endif %}
					</li>
				{% endif %}

			</ul>
		</nav>
		{% block body %}{% endblock %}
	</body>
	<script>

	var accountMenuBtn = document.getElementById('accountMenuBtn');
	var accountMenu = document.getElementById('accountMenu');



    var searchBar = document.getElementById('searchBar');
    var pSearch = document.getElementById('pSearch');
    var formHidden = document.getElementById('formHidden');
    var boutonClose = document.getElementById('boutonClose');

    searchBar.addEventListener('click', function (event) {
        if (!searchBar.classList.contains('bigSearchBar')) {
            searchBar.classList.add('bigSearchBar');
            pSearch.classList.add('hidden');
            formHidden.classList.remove('hidden');
            boutonClose.classList.remove('hidden');
        } else {
            // Ajoutez ici le code pour le comportement lorsque searchBar a déjà la classe bigSearchBar
        }
        // Empêche la propagation de l'événement pour éviter d'activer le clic du boutonClose immédiatement
        event.stopPropagation();
    });



    boutonClose.addEventListener('click', function (event) {
        searchBar.classList.remove('bigSearchBar');
        pSearch.classList.remove('hidden');
        formHidden.classList.add('hidden');
        boutonClose.classList.add('hidden');
        // Empêche la propagation de l'événement pour éviter d'activer le clic du searchBar immédiatement
        event.stopPropagation();
    });
	accountMenuBtn.addEventListener('click', function (event) {
		if (!accountMenu.classList.contains('block')) {
			accountMenu.classList.remove('hidden');
			accountMenu.classList.add('block');
		} else {
			accountMenu.classList.remove('block');
			accountMenu.classList.add('hidden');
		}
		// Empêche la propagation de l'événement pour éviter d'activer le clic du searchBar immédiatement
		event.stopPropagation();
	});	
</script>


</html>
