<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.tailwindcss.com"></script>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}

			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		{% endblock %}
		<style>
			
 
			{# import font from a file#}
			@font-face {
				font-family: 'comfortaa';
				src: url({{ asset('font/Comfortaa.ttf') }});
			}


			@-webkit-keyframes focus-in-contract {
				0% {
					letter-spacing: 1em;
					-webkit-filter: blur(12px);
					filter: blur(12px);
					opacity: 0;
				}
				100% {
					-webkit-filter: blur(0px);
					filter: blur(0px);
					opacity: 1;
				}
			}
			@keyframes focus-in-contract {
				0% {
					letter-spacing: 1em;
					-webkit-filter: blur(12px);
					filter: blur(12px);
					opacity: 0;
				}
				100% {
					-webkit-filter: blur(0px);
					filter: blur(0px);
					opacity: 1;
				}
			}
			.text-focus-in {
				-webkit-animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			}
			@-webkit-keyframes slide-out-top {
				0% {
					-webkit-transform: translateY(0);
					transform: translateY(0);
					opacity: 1;
				}
				100% {
					-webkit-transform: translateY(-1000px);
					transform: translateY(-1000px);
					opacity: 0;
				}
			}
			@keyframes slide-out-top {
				0% {
					-webkit-transform: translateY(0);
					transform: translateY(0);
					opacity: 1;
				}
				100% {
					-webkit-transform: translateY(-1000px);
					transform: translateY(-1000px);
					opacity: 0;
				}
			}

			@-webkit-keyframes slide-in-top {
				0% {
					-webkit-transform: translateY(-1000px);
					transform: translateY(-1000px);
					opacity: 1;
				}
				100% {
					-webkit-transform: translateY(0);
					transform: translateY(0);
					opacity: 1;
				}
			}
			@keyframes slide-in-top {
				0% {
					-webkit-transform: translateY(-1000px);
					transform: translateY(-1000px);
					opacity: 0;
				}
				100% {
					-webkit-transform: translateY(0);
					transform: translateY(0);
					opacity: 1;
				}
			}
			body {
				font-family: 'comfortaa', sans-serif;
			}

			.slide-in-top {
				-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			}
			.slide-out-top {
				-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
				animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			}

			nav li {
				text-align: center;
			}
			.formulaire_register div {
				width: 100%;
			}

			.bigSearchBar {
				position: absolute;
				z-index: 15;
				width: 100%;
				height: fit-content;
				display: flex;
				flex-direction: column;
				left: 0;
				top: 0;
				background-color: rgb(17 24 39);


				border-radius: 5px;
				padding: 20px !important;

			}
			.mobileMenu {
				position: absolute;
				z-index: 15;
				width: 80vw;
				height: 100vh;
				right: 0;
				top: 0;
				background-color: rgb(17 24 39);

				transition: all 2s ease-out;
				border-radius: 5px;

			}
			.anim {
				transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
			}
			.initialSize {
				width: 100%;
				height: 70%;

			}
			#accountMenu {
				transition: all 2s ease-out;
				text-align: right;

			}
			#accountMenu a {


				padding: 5px;
				margin-bottom: 10px;
				border-radius: 5px;
				transition: all 0.5s ease-out;

				color: white;
				width: 100%;
			}
			#accountMenu a:hover {
				background-color: white;
				color: black;
				transition: all 0.5s ease-out;
			}
			#listeNavMobile li {
				width: 100%;
				border-bottom: 1px solid white;
				font-size: 2rem;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			#series_search > div {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid white;

			}
			#series_search div:nth-of-type(3) {
				margin-bottom: 0 !important;
				border-bottom: none !important;
			}
			#series_search_genre {
				width: 80%;
				display: grid!important;
				grid-template-columns: repeat(10, 1fr 2fr);

			}
			#series_search_genre input {
				margin-left: 10px;
				width: 30px;
				height: 30px;


			}
			#series_search>div:nth-of-type(1){
				margin-top: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			#series_search>div:nth-of-type(2){
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			#divForm>div:nth-of-type(2),
			#divForm>div:nth-of-type(3) {
				margin-top: 10px;
			}
			#divForm div:nth-of-type(4) {
				margin-bottom: 40px;
			}
			#series_search_ratings {
				width: fit-content;
				display: grid!important;
				grid-template-columns: repeat(3, 1fr 2fr)!important;

			}
			#ratingSortLabel {
				font-weight: bold;
				font-size: 1.8rem;
				margin-top: 10px;
				margin-bottom: 30px;
			}
			#series_search_startDate {
				color: white;
				background-color: rgb(17, 24, 39);
				border-radius: 5px;
				border: 2px solid white;
				margin-bottom: 10px !important;
			}
			#series_search_endDate {
				color: white;
				background-color: rgb(17, 24, 39);
				border-radius: 5px;
				border: 2px solid white;
			}

		</style>
	</head>
	<body
		class=" bg-[url({{ asset('img/background.jpg') }})] bg-cover bg-fixed bg-center">
		{# NAV MOBILE #}
		<nav class="flex sticky top-0 z-20 lg:hidden w-full h-fit items-center py-4 bg-gray-900">
			<ul class="flex justify-around items-center w-full">
				<li>
					<button id="mobilSearch">
						<img src="{{ asset('img/loupe.png') }}" alt="logo" class="h-12">
					</button>
				</li>
				<li>
					<a href="{{ path('app_series_index') }}"><img src="{{ asset('img/logoText.png') }}" alt="logo" class="h-12"></a>
				</li>
				<li>
					<button id="mobilMenuBtn" class="text-white  relative inline-block group focus:outline-none">
						<img src="{{ asset('img/burger.png') }}" alt="logo" class="h-12">
						<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
					</button>
				</li>
			</ul>
		</nav>
		<div id="formMobileHidden" class="hidden w-full h-[80vh] flex flex-col items-center justify-center">
			<h1 class="text-white text-2xl">Search</h1>
			<form class="w-full flex flex-col items-center justify-center" action="" method="get">
				<input type="text" name="search" class="w-10/12 h-8 bg-transparent text-white border border-white rounded-full px-4" placeholder="Recherche">
				<button type="submit" class="w-6/12 mt-12 px-4 h-12 border-red-500 items-center bg-red-500 text-white rounded-full">Search</button>
			</form>
		</div>


		<div id="mobileMenu" class="hidden fixed flex items-center flex-col w-[80vw] transition-all rounded-sm border border-red-500 bg-gray-900 top-0 right-0 h-full z-50 p-8">
			<div class="flex justify-between items-center w-full">
				<div class="flex items-center">
					<button id="mobileMenuClose" class="text-white px-4 py-2 absolute top-4 left-4 inline-block group focus:outline-none">
						<img src="{{ asset('img/close.png') }}" alt="logo" class="h-20">
					</button>
				</div>
				{% if app.user %}
					<div class="flex items-center">
						<p class="text-white text-4xl ml-4">Hello
							{{ app.user.getName }}</p>
					</div>
					
				{% endif %}
			</div>
			<ul id="listeNavMobile" class="relative top-20 h-full w-full ">
				<li>
					<a href="{{ path('app_series_index') }}" class="text-white px-4 py-2 relative inline-block group">
						Home
					</a>

				</li>
				{% if app.user %}
					<li>
					<a href="{{ path('app_user_show', {'id_user': app.user.id}) }}" class="text-white px-4 py-2 relative inline-block group">
								Profile
					</a>
					</li>

					<li>
						<a href="{{ path('app_series_list_follow') }}" class="text-white px-4 py-2 relative inline-block group">
							List of followed series
						</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}" class="text-white px-4 py-2 self-end relative inline-block group ">
							Logout
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_login') }}" class="text-white px-4 py-2 relative inline-block group">Login<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_register') }}" class="text-white px-4 py-2 relative inline-block group ">Register<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					</li>


				{% endif %}


			</ul>

		</div>

		{# NAV DESKTOP #}


		<nav class="hidden sticky top-0 z-20 lg:flex h-fit text-xl flex items-center py-4 bg-gray-900">
			<ul class="flex justify-between items-center h-10 w-full">
				<li class="flex item-center ">
					<a href="{{ path('app_series_index') }}"><img src="{{ asset('img/logoText.png') }}" alt="logo" class="h-12 "></a>
				</li>
				<li>
					{% if app.request.attributes.get('_route') == 'app_series_index' %}
						<a href="{{ path('app_series_index') }}" class="text-red-500	 px-4 py-2 relative inline-block group">
							Home
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					{% else %}
						<a href="{{ path('app_series_index') }}" class="text-white px-4 py-2 relative inline-block group">
							Home
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</a>
					{% endif %}
				</li>

				<style></style>
				{% if path('app_admin_panel') not in app.request.uri and 'showSerie' not in app.request.uri and 'login' not in app.request.uri and 'register' not in app.request.uri %}
					<li class="w-96 h-full flex items-center bg-black rounded-full">
						<div id="searchBar" class="flex anim initialSize items-start justify-center text-white  bg-grey-900">
							<button id="boutonClose" class="hidden absolute right-4 top-4 w-6 h-6 bg-red-500 rounded-full focus:outline-none">
								<p class="text-black items-center text-center border-2 border-black rounded-full w-6 h-6 flex items-center justify-center">&#10005;</p>
							</button>
							<p id="pSearch">Search</p>
							<div id="formHidden" class="hidden w-full flex flex-col items-center justify-center">
								<h1 class="text-white mb-4 text-2xl">Search</h1>
								<form class="w-full flex flex-col items-center justify-center" action="" method="get">
									<input id="desktopSearchBar" type="text" name="search" value="{{ app.request.query.get('search') }}" class="w-8/12 h-8 bg-transparent text-white border border-white rounded-full px-4" placeholder="Recherche">
									<div id="divForm" class="pt-5  flex flex-col space-between items-center">
										{% if form is defined %}
											{{ form_start(form, {'csrf_protection': false}) }}
											{{ form_widget(form) }}
											{{ form_end(form) }}
										{% endif %}

										<button type="submit" class="w-2/12 ml-12 px-4 py-2 bg-red-500 justify-self-center text-white rounded-full">Rechercher</button>

									</div>
								</form>
							</div>
						</div>
					{% endif %}
				</li>


				{% if app.user %}
					<li>
						{% if app.request.attributes.get('_route') == 'app_series_list_follow' %}
							<a href="{{ path('app_series_list_follow') }}" class="text-red-500 px-4 py-2 relative inline-block group">
								List of followed series
								<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
							</a>
						{% else %}
							<a href="{{ path('app_series_list_follow') }}" class="text-white px-4 py-2 relative inline-block group">
								List of followed series
								<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
							</a>
						{% endif %}
					</li>
					<li class="flex items-center text-white px-1 py-1">

						<button id="accountMenuBtn" class="flex flex-row items-center text-white px-4 py-2 relative inline-block group focus:outline-none">
							{% if app.user %}
								<p class="mr-2 text-xl">{{ app.user.getName }}</p>
							{% endif %}
							<img src="{{ asset('img/account.png') }}" alt="logo" class="h-10">
							<span class="absolute bottom-0 left-0 w-full h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-500"></span>
						</button>
					</li>

					{# MENU COMPTE #}

					<div
						id="accountMenu" class="hidden absolute flex items-center flex-col w-fit shadow-2xl shadow-inner h-fit rounded-xl border-2 border-red-500 bg-gray-900 top-24 right-12 z-10 p-4">
						<!-- Liens pour le compte -->
						{% if app.user %}


							<div class="flex items-center justify-center border-b border-white w-full mb-8 pl-8 pr-2 pb-2">
								<h2 class="text-2xl font-bold text-white">Hello
									{{ app.user.getName }}</h2>
							</div>

							<a href="{{ path('app_user_show', {'id_user': app.user.id}) }}" class="text-black px-4 py-2 relative inline-block group">
								Profile
							</a>

							{% if is_granted('IS_IMPERSONATOR') %}
								<a href="{{ path('app_series_index',{'_switch_user': '_exit'}) }}" class="text-black px-4 py-2 relative inline-block group">
									Exit Personification
								</a>
							{% endif %}

							{% if app.user.isAdmin() %}
								<a href="{{ path('app_admin_panel') }}" class="text-black px-4 py-2 relative inline-block group">
									Admin Panel
								</a>
							{% endif %}
							<a href="{{ path('app_logout') }}" class="text-black px-4 py-2 relative inline-block group ">
								Logout
							</a>
						{% endif %}
					</div>

				{% else %}
					<li>
						{% if app.request.attributes.get('_route') == 'app_login' %}
							<a href="{{ path('app_login') }}" class="text-red-500 px-4 py-2 relative inline-block group">Login
							</a>
						{% else %}
							<a href="{{ path('app_login') }}" class="text-white px-4 py-2 relative inline-block group">Login
							</a>
						{% endif %}
					</li>
					<li>
						{% if app.request.attributes.get('_route') == 'app_register' %}
							<a href="{{ path('app_register') }}" class="text-red-500 px-4 py-2 relative inline-block group ">Register
							</a>
						{% else %}
							<a href="{{ path('app_register') }}" class="text-white px-4 py-2 relative inline-block group ">Register
							</a>
						{% endif %}
					</li>
				{% endif %}

			</ul>
		</nav>
	</body>
	{% block body %}{% endblock %}
	<script>
		var accountMenuBtn = document.getElementById('accountMenuBtn');
var accountMenu = document.getElementById('accountMenu');
var mobileMenu = document.getElementById('mobileMenu');
var mobilMenuBtn = document.getElementById('mobilMenuBtn');
var mobileMenuClose = document.getElementById('mobileMenuClose');
var desktopSearchBar = document.getElementById('desktopSearchBar');

var searchBar = document.getElementById('searchBar');
var pSearch = document.getElementById('pSearch');
var formHidden = document.getElementById('formHidden');
var boutonClose = document.getElementById('boutonClose');

var formMobileHidden = document.getElementById('formMobileHidden');
var mobilSearch = document.getElementById('mobilSearch');

mobilSearch.addEventListener('click', function (event) {
formMobileHidden.classList.toggle('hidden');
if (! formMobileHidden.classList.contains('hidden')) {
scrollTo(0, 0);
}

});

mobilMenuBtn.addEventListener('click', function (event) {
mobileMenu.classList.remove('hidden');

});
mobileMenuClose.addEventListener('click', function (event) {
mobileMenu.classList.add('hidden');

});
if (searchBar) {
searchBar.addEventListener('click', function (event) {
if (! searchBar.classList.contains('bigSearchBar')) {
searchBar.classList.remove('initialSize');
searchBar.classList.add('bigSearchBar');
pSearch.classList.add('hidden');
formHidden.classList.remove('hidden');
boutonClose.classList.remove('hidden');
searchBar.classList.add('slide-in-top');


desktopSearchBar.focus();

searchBar.offsetHeight;
}

// Empêche la propagation de l'événement pour éviter d'activer le clic du boutonClose immédiatement
event.stopPropagation();
});


boutonClose.addEventListener('click', function (event) {
searchBar.classList.remove('slide-in-top');

searchBar.classList.add('initialSize');
searchBar.classList.remove('bigSearchBar');
pSearch.classList.remove('hidden');
formHidden.classList.add('hidden');
boutonClose.classList.add('hidden');


searchBar.offsetHeight;
// Empêche la propagation de l'événement pour éviter d'activer le clic du searchBar immédiatement
event.stopPropagation();
});
}
accountMenuBtn.addEventListener('click', function (event) {
if (! accountMenu.classList.contains('block')) {
accountMenu.classList.remove('hidden');
accountMenu.classList.add('block');
accountMenu.classList.remove('slide-out-top');
accountMenu.classList.add('slide-in-top');
} else {
accountMenu.classList.remove('block');

accountMenu.classList.remove('slide-in-top');
accountMenu.classList.add('slide-out-top');
wait(500);
accountMenu.classList.add('hidden');
}
// Empêche la propagation de l'événement pour éviter d'activer le clic du adminMenu immédiatement
event.stopPropagation();
});
	</script>
</html>
