<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <nav class=" h-10 text-3xl flex items-center justify-around py-10 bg-gray-900">
        <ul class="flex justify-center items-center">
            <li><a href="{{ path('app_series_index') }}" class="text-white px-4 py-2 hover:text-red-500 ">Accueil</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_logout') }}" class="text-white px-4 py-2 hover:text-red-500 ">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}" class="text-white px-4 py-2 hover:text-red-500 ">Connexion</a></li>
                <li><a href="{{ path('app_register') }}" class="text-white px-4 py-2 hover:text-red-500 ">Inscription</a></li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
