{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="POST" class="w-full h-screen flex align-center justify-center items-center bg-black">
    <div class="flex flex-col bg-white p-8 md:p-10 rounded-lg shadow-lg h-auto w-9/12 md:w-1/3 ">
        <h1 class="text-black text-center text-3xl mb-8">Connexion</h1>

        {% if error %}
            <div class="alert alert-danger text-red-500 font-extrabold">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <label for="inputEmail" class="text-black">Email :</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="bg-gray-800 w-full rounded-full text-white p-4 my-4 mx-2" autocomplete="email" required autofocus>

        <label for="inputPassword" class="text-black">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="bg-gray-800 w-full rounded-full text-white p-4 my-4 mx-2" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="self-center btn bg-red-500 text-white p-2 border-2 rounded-full focus:outline-none focus:border-red-700 p-3 mt-8">
            Connexion
        </button>
    </div>
</form>
{% endblock %}

