{% extends 'base.html.twig' %}

{% block title %}Admin Panel
{% endblock %}

{% block body %}

	<div class="bg-gray-900 text-white min-h-[90vh]">
		<div class="container mx-auto py-8">	
			<h1 class="text-4xl w-full border-b-2 border-white pb-2 font-bold mb-12">Admin Panel</h1>

			<a href="{{ path('app_admin_series_index') }}">
				<h2 class="text-2xl font-bold mb-4 bg-red-500 p-2 rounded hover:bg-green-500 w-fit">Search series</h2>
			</a>

			<h2 class="text-2xl font-bold mb-4">User List:</h2>
			<form action="{{ path('app_admin_panel')}}" method="get">
				<input type="text" name="email" placeholder="Search by email" class="bg-gray-900 text-white p-2 rounded border-2 border-gray-800">
				<button type="submit" class="ml-3 bg-red-500 p-2 rounded hover:bg-green-500">Search</button>
			</form>
			<div class="overflow-x-auto w-full">
				<table class="table-auto w-full mt-12 divide-y divide-gray-200">
					<thead>
						<tr>
							<th class="px-2 py-2">Id</th>
							<th class="px-2 py-2">Username</th>
							<th class="px-2 py-2">Email</th>
							<th class="px-2 py-2">Registration Date</th>
							<th class="px-2 py-2">Role</th>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
								<th class="px-2 py-2">Change Role</th>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<th class="px-2 py-2">Personify</th>
								<th class="px-2 py-2">Profile</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
					<style>
						
						tr td{
							vertical-align: middle;
							border-bottom: 1px solid #999;
							padding-top: 20px;
							padding-bottom: 20px;
							

						}
						</style>
						{% for user in pagination.items %}
							<tr>
								<td class=" px-2 ">{{ user.id }}</td>
								<td class=" px-2 ">{{ user.name }}</td>
								<td class=" px-2 ">{{ user.email }}</td>
								<td class=" px-2 ">{{ user.registerDateToString }}</td>
								<td class=" px-2 ">{{ user.role }}</td>

                                {#Afficher le bouton pour changer le role si l'utilisateur est super admin#}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
									<td class=" px-2 ">
										<form action="{{ path('app_admin_change_role',{'id':user.id}) }}" method="post">
											{% if 'ROLE_ADMIN' in user.roles %}
												<button type="submit" class="text-white bg-green-500 rounded-full px-2 py-2 hover:text-green-500 hover:bg-white">Make User</button>
											{% elseif 'ROLE_USER' in user.roles %}
												<button type="submit" class="text-white bg-red-500 rounded-full px-2 py-2 hover:text-red-500 hover:bg-white">Make Admin</button>
											{% endif %}
										</form>
									</td>
								{% endif %}
                                {#Afficher le bouton pour incarner l'utilisateur si le role est admin #}
								{% if is_granted('ROLE_ADMIN') %}
									<td class=" px-2 ">
										{% if 'ROLE_USER' in user.roles or ('ROLE_ADMIN' in user.roles and is_granted('ROLE_SUPER_ADMIN')) %}
											<a href="{{ path('app_admin_personify', {'id': user.id}) }}" class="text-white bg-blue-500 rounded-full px-2 py-2 hover:text-blue-500 hover:bg-white">Personify</a>
										{% endif %}
									</td>
									<td class=" px-2 ">
										{% if 'ROLE_USER' in user.roles or ('ROLE_ADMIN' in user.roles and is_granted('ROLE_SUPER_ADMIN')) %}
											<a href="{{ path('app_user', {'id_user': user.id}) }}" class="text-white border border-white bg-black rounded-full px-2 py-2 hover:text-black hover:bg-white hover:border-black">Profile</a>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if pagination.items|length != 0 %}
				{% set total_pages = (pagination.getTotalItemCount() / pagination.getItemNumberPerPage())|round(0, 'ceil') %}
				<span class="text-white">Page
					{{ pagination.getCurrentPageNumber() }}
					of
					{{ total_pages }}</span>
				{% set current_page = pagination.getCurrentPageNumber() %}
				<div class="flex justify-center mt-8">
					{% if current_page != 1 %}
						<a href="{{ path('app_admin_panel', {'page': current_page - 1}) }}" class="text-white hover:text-gray-300 px-5">&laquo;</a>
					{% endif %}

					{% for page in 1..total_pages %}
						{% if page == current_page %}
							<span class="text-white bg-red-500 rounded-full font-bold px-5">{{ page }}</span>
						{% elseif page == current_page - 1 or page == current_page + 1 %}
							<a href="{{ path('app_admin_panel', {'page': page}) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
						{% elseif page == 1 or page == total_pages %}
							<a href="{{ path('app_admin_panel', {'page': page}) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
						{% elseif page == current_page - 2 or page == current_page + 2 %}
							<span class="text-white px-5">...</span>
						{% endif %}
					{% endfor %}

					{% if current_page != total_pages %}
						<a href="{{ path('app_admin_panel', {'page': current_page + 1}) }}" class="text-white hover:text-gray-300 px-5">&raquo;</a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
