{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block body %}

<div class="bg-gray-900 text-white">
    <div class="container mx-auto py-8">
        <h1 class="text-4xl font-bold mb-8">Panneau d'administration</h1>

        <h2 class="text-2xl font-bold mb-4">Liste des utilisateurs :</h2>
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Id</th>
                        <th class="px-4 py-2">Username</th>
                        <th class="px-4 py-2">Email</th>
                        <th class="px-4 py-2">Date d'inscription</th>
                        <th class="px-4 py-2">Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="border px-4 py-2">{{ user.id }}</td>
                            <td class="border px-4 py-2">{{ user.name }}</td>
                            <td class="border px-4 py-2">{{ user.email }}</td>
                            <td class="border px-4 py-2">{{ user.registerDate_toString }}</td>
                            <td class="border px-4 py-2">{{ user.role }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if form_impersonation %}
            <h3 class="text-2xl font-bold mt-8 mb-4">Users embodiment</h3>
            <div class="max-w-md">
                {{ form_start(form_impersonation) }}
                <div class="mb-4 text-white-500">
                    {{ form_errors(form_impersonation) }}
                </div>
                <div class="mb-4">
                        {{ form_label(form_impersonation.user, 'Utilisateur', {'label_attr': {'class': 'block text-white-200 text-1xl text-sm font-bold mb-2'}}) }}
                        {{ form_widget(form_impersonation.user, {'attr': {'class': 'bg-gray-900 px-4 py-2 border-white'}}) }}
                </div>
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Valider</button>
                {{ form_end(form_impersonation) }}
            </div>
        {% endif %}

        {% if form_role %}
            <h3 class="text-2xl font-bold mt-8 mb-4">Modification du rôles des utilisateurs</h3>
            <div class="max-w-md">
                {{ form_start(form_role) }}
                <div class="mb-4 text-white-500">
                    {{ form_errors(form_role) }}
                </div>
                <div class="mb-4">
                        {{ form_label(form_role.user, 'Utilisateur', {'label_attr': {'class': 'block text-white-200 text-1xl text-sm font-bold mb-2'}}) }}
                        {{ form_widget(form_role.user, {'attr': {'class': 'bg-gray-900 px-4 py-2 border-white'}}) }}
                </div>
                 <div class="mb-4">
                        {{ form_label(form_role.role, 'Rôle', {'label_attr': {'class': 'block text-white-200 text-1xl font-bold mb-2'}}) }}
                        {{ form_widget(form_role.role, {'attr': {'class': 'bg-gray-900 px-4 py-2 border-white'}}) }}
                </div>
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Valider</button>
                {{ form_end(form_role) }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
