{% extends 'base.html.twig' %}

{% block title %} followed users {% endblock %}

{% block body %}

    {% for user in pagination %}
        <div class="user">
        <p class="text-white">ID: {{ user.name }}</p>
            <h2><a href="{{ path(app_action, {id_user: user.id}) }}">{{ user.name }}</a></h2>
        </div>
    {% endfor %}

    {% if pagination.items|length != 0 %}
        {% set total_pages = (pagination.getTotalItemCount() / pagination.getItemNumberPerPage())|round(0, 'ceil') %}
        {% set current_page = pagination.getCurrentPageNumber() %}
        <div class="flex justify-center mt-8">
            {% if current_page != 1 %}
                <a href="{{ path(app_action, {'page': current_page - 1}|merge(param_action)) }}" class="text-white hover:text-gray-300 px-5">&laquo;</a>
            {% endif %}

            {% for page in 1..total_pages %}
                {% if page == current_page %}
                    <span class="text-white bg-red-500 rounded-full font-bold px-5">{{ page }}</span>
                {% elseif page == current_page - 1 or page == current_page + 1 %}
                    <a href="{{ path(app_action, {'page': page}|merge(param_action) ) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
                {% elseif page == 1 or page == total_pages %}
                    <a href="{{ path(app_action, {'page': page}|merge(param_action) ) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
                {% elseif page == current_page - 2 or page == current_page + 2 %}
                    <span class="text-white px-5">...</span>
                {% endif %}
            {% endfor %}

            {% if current_page != total_pages %}
                <a href="{{ path(app_action, {'page': current_page + 1}|merge(param_action)) }}" class="text-white hover:text-gray-300 px-5">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}