{% extends 'base.html.twig' %}
{% block title %} News Feed
{% endblock %}
{% block body %}
<div class="flex flex-col items-center">
    <h1 class="text-4xl font-bold text-white mt-10 mb-10">News Feed</h1>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12 w-10/12 items-start text-gray-200">
    {% for rating in pagination.items %}
        <div class="flex flex-col lg:flex-row bg-gray-800 font-bold w-full h-full p-10 m-5" style="border-radius: 10px;">
            <div class="flex flex-col items-start w-full lg:w-1/2 pr-8">
                <p class="text-sm mb-4">{{ rating.date|time_diff}}</p>
                <div class="flex flex-col items-start">
                    <p class="text-2xl">Serie: <a href="{{path('app_series_show', {'id':rating.series.id})}}" class="text-blue-500">{{ rating.series.title }}</a></p>
                    <img src="{{ path('app_series_poster', {'id': rating.series.id }) }}" alt="{{ rating.series.title }}" class="w-fit h-fit object-cover">

                </div>
            </div>
            <div class="flex flex-col items-center w-full lg:w-1/2 lg:border-l mt-10 pl-8 ">
                <p class="text-2xl mb-8">User: <a href="{{path('app_user_show', {'id_user':rating.user.id})}}" class="text-blue-500">{{ rating.user.name }}</a></p>
                <p>Rating: </p>
                <div class="flex flex-row mb-8">
                {% for note in 1..5 %}
                    <div class="text-white focus:outline-none mr-1 ml-1">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 1280.000000 1181.000000" preserveaspectratio="xMidYMid meet" class="inline-block fill-current">
                            <g transform="translate(0.000000,1181.000000) scale(0.100000,-0.100000)" class="inline-block fill-current {% if note <= rating.value %} text-yellow-500 {% else %} text-gray-300 {% endif %}" fill="#000000" stroke="none">
                                <path class="h-6 w-6" d="M6327 11292 c-60 -180 -161 -489 -227 -687 -65 -198 -233 -709 -373
                                                        -1135 -141 -426 -367 -1114 -503 -1527 l-248 -753 -2358 0 c-1297 0 -2358 -3
                                                        -2358 -7 0 -5 170 -130 378 -279 207 -149 1057 -758 1887 -1353 831 -596 1518
                                                        -1091 1528 -1100 20 -19 55 94 -420 -1346 -187 -570 -344 -1047 -628 -1910
                                                        -141 -429 -286 -869 -322 -978 -36 -109 -63 -201 -60 -204 7 -6 -236 -180
                                                        1912 1362 1012 726 1855 1331 1872 1343 l33 23 762 -548 c2447 -1758 3053
                                                        -2191 3056 -2188 2 2 -46 153 -106 337 -61 183 -216 655 -346 1048 -511 1556
                                                        -712 2168 -811 2470 -145 440 -185 563 -185 575 0 6 855 623 1900 1373 1045
                                                        750 1900 1368 1900 1373 0 5 -909 10 -2357 11 l-2356 3 -164 500 c-90 275
                                                        -272 826 -403 1225 -131 399 -383 1166 -560 1705 -177 539 -325 983 -329 987
                                                        -4 5 -55 -139 -114 -320z"/>
                            </g>
                        </svg>
                    </div>
                {% endfor %}
                </div>
                <p>Comment: {{ rating.comment }}</p>

            </div>
            
            
            
        </div>
    {% endfor %}
</div>
</div>

{% if pagination.items|length != 0 %}
        {% set total_pages = (pagination.getTotalItemCount() / pagination.getItemNumberPerPage())|round(0, 'ceil') %}
        {% set current_page = pagination.getCurrentPageNumber() %}
        <div class="flex justify-center mt-8 mb-10">
            {% if current_page != 1 %}
                <a href="{{ path(app_action, {'page': current_page - 1}|merge(param_action)) }}" class="text-white hover:text-gray-300 px-5">&laquo;</a>
            {% endif %}

            {% for page in 1..total_pages %}
                {% if page == current_page %}
                    <span class="text-white bg-red-500 rounded-full font-bold px-5">{{ page }}</span>
                {% elseif page == current_page - 1 or page == current_page + 1 %}
                    <a href="{{ path(app_action, {'page': page}|merge(param_action) ) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
                {% elseif page == 1 or page == total_pages %}
                    <a href="{{ path(app_action, {'page': page}|merge(param_action) ) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
                {% elseif page == current_page - 2 or page == current_page + 2 %}
                    <span class="text-white px-5">...</span>
                {% endif %}
            {% endfor %}

            {% if current_page != total_pages %}
                <a href="{{ path(app_action, {'page': current_page + 1}|merge(param_action)) }}" class="text-white hover:text-gray-300 px-5">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}