	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
{% set index = 0 %}
{% for series in pagination.items %}

		{% if user %}
			{# Test pour savoir si séries est un Array#}
			{% if series is iterable %}
				{% set percentage_seen = series['percentage_seen'] %}
				{% set series = series[0] %}
			{% else %}
				{% set percentage_seen = series_view[index]['percentage_seen'] %}
				{% set index = index + 1 %}
			{% endif %}
		{% endif %}
		{% set background = "hover:border-blue-200 bg-gray-900" %}
		{% set title="" %}
		{% if app.user and percentage_seen == 100 %}
			{% set background = "hover:border-blue-500 hover:bg-blue-500 bg-gray-900" %}
			{% set title = "Alredy seen" %}
		{% endif %}
		<div class="{{ 'flex justify-between overflow-hidden flex-col transform transition-transform duration-300 hover:shadow-md hover:shadow-blue-200 hover:scale-105 rounded-md border-2 border-transparent h-full ' ~ background }}" title="{{title}}">
			<a class="h-full" ~ background href="{{ path('app_series_show', {'id': series.id}) }}">
				<img src="{{ path('app_series_poster', {'id': series.id }) }}" alt="{{ series.title }}" class="w-full h-fit object-cover">
				<div class="p-4">
					<h2 class="text-white text-xl font-bold mb-2">{{ series.title }}</h2>
					<p class="text-white mb-2">Seasons:
						{{ series.seasons|length }}</p>
					<p class="text-white mb-2">Year:
						{{ series.yearStart }}
						-
						{% if series.yearEnd is null %}present
						{% else %}
							{{ series.yearEnd }}
						{% endif %}
					</p>
					{% set usersRating = 0 %}
					{% for rating in series.ratings %}
						{% set usersRating = usersRating + rating.value %}
					{% endfor %}
					{% if series.ratings|length > 0 %}
						{% set usersRating = usersRating / series.ratings|length %}
					{% endif %}
					{% if user %}
						{% if percentage_seen != 0 %}
							<p class="text-white mb-2">seen:</p>
							<div class="relative pt-1">
								<div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
									<div style="width:{{ percentage_seen }}%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
								</div>
							</div>
						{% endif %}
					{% endif %}
					<div class="flex">
						<p class="text-white mb-2">Users rating:</p>
						<div class="flex ml-2">
							{% set usersRatingInt = usersRating|round(0, 'floor') %}
							{% for note in 1..5 %}
								<div class="text-white focus:outline-none mr-1 ">
									<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 1280.000000 1181.000000" preserveaspectratio="xMidYMid meet" class="inline-block fill-current">
										<g transform="translate(0.000000,1181.000000) scale(0.100000,-0.100000)" class="inline-block fill-current {% if note <= usersRatingInt %} text-yellow-500 {% else %} text-gray-300 {% endif %}" fill="#000000" stroke="none">
											<path class="h-6 w-6" d="M6327 11292 c-60 -180 -161 -489 -227 -687 -65 -198 -233 -709 -373
																																																		-1135 -141 -426 -367 -1114 -503 -1527 l-248 -753 -2358 0 c-1297 0 -2358 -3
																																																		-2358 -7 0 -5 170 -130 378 -279 207 -149 1057 -758 1887 -1353 831 -596 1518
																																																		-1091 1528 -1100 20 -19 55 94 -420 -1346 -187 -570 -344 -1047 -628 -1910
																																																		-141 -429 -286 -869 -322 -978 -36 -109 -63 -201 -60 -204 7 -6 -236 -180
																																																		1912 1362 1012 726 1855 1331 1872 1343 l33 23 762 -548 c2447 -1758 3053
																																																		-2191 3056 -2188 2 2 -46 153 -106 337 -61 183 -216 655 -346 1048 -511 1556
																																																		-712 2168 -811 2470 -145 440 -185 563 -185 575 0 6 855 623 1900 1373 1045
																																																		750 1900 1368 1900 1373 0 5 -909 10 -2357 11 l-2356 3 -164 500 c-90 275
																																																		-272 826 -403 1225 -131 399 -383 1166 -560 1705 -177 539 -325 983 -329 987
																																																		-4 5 -55 -139 -114 -320z"/>
										</g>
									</svg>
								</div>
							{% endfor %}
						</div>
					</div>
					<p class="text-white mb-2">Number of votes:
						{{ series.ratings|length }}</p>
				</div>
				{% for genre in series.genre %}
					<span class="inline-block bg-gray-800 rounded-full px-3 py-1 text-sm font-semibold text-gray-300 mx-2 mb-2">{{ genre.name }}</span>
				{% endfor %}
			</a>
			{% if app.user %}
				{% if series in app.user.series %}
					<div class="flex justify-center pb-4 pt-2 bg-red-600 font-bold">
						<form action="{{ path('app_series_unfollow', {'id': series.id,'page': pagination.getCurrentPageNumber()}) }}" method="post" class="w-full h-full">
							<button type="submit" class="text-white hover:text-gray-300 w-full h-full">Unfollow</button>
						</form>
					</div>
				{% else %}
					<div class="flex justify-center pb-4 pt-2 bg-green-600 font-bold">
						<form action="{{ path('app_series_follow', {'id': series.id,'page': pagination.getCurrentPageNumber()}) }}" method="post" class="w-full h-full">
							<button type="submit" class="text-white hover:text-gray-300 w-full h-full">Follow</button>
						</form>
					</div>
				{% endif %}
			{% endif %}
		</div>
{% else %}
	<h4 class="text-xl text-center text-white font-bold my-24">No series found</h4>
{% endfor %}
	</div>

{% if pagination.items|length != 0 %}
	{% set total_pages = (pagination.getTotalItemCount() / pagination.getItemNumberPerPage())|round(0, 'ceil') %}
	{% set current_page = pagination.getCurrentPageNumber() %}
	<div class="flex justify-center mt-8">
		{% if current_page != 1 %}

			<a href="{{ path(app_action, {'page_series': current_page - 1}|merge(param_action)) }}" class="text-white hover:text-gray-300 px-5">&laquo;</a>
		{% endif %}

		{% for page in 1..total_pages %}
			{% if page == current_page %}
				<span class="text-white bg-red-500 rounded-full font-bold px-5">{{ page }}</span>
			{% elseif page == current_page - 1 or page == current_page + 1 %}
				<a href="{{ path(app_action, {'page_series': page}|merge(param_action) ) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
			{% elseif page == 1 or page == total_pages %}
				<a href="{{ path(app_action, {'page_series': page}|merge(param_action) ) }}" class="text-white hover:text-gray-300 px-5">{{ page }}</a>
			{% elseif page == current_page - 2 or page == current_page + 2 %}
				<span class="text-white px-5">...</span>
			{% endif %}
		{% endfor %}

		{% if current_page != total_pages %}
			<a href="{{ path(app_action, {'page_series': current_page + 1}|merge(param_action)) }}" class="text-white hover:text-gray-300 px-5">&raquo;</a>
		{% endif %}
	</div>
{% endif %}
