{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Plot</th>
                <th>Poster</th>
                <th>YearStart</th>
                <th>YearEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td><img src="{{ path('app_series_poster', {'id': series.id }) }}"></td>
                <td>{{ series.yearStart }}</td>
                {% if series.yearEnd == null %}
                    <td>present</td>
                {% else %}
                <td>{{ series.yearEnd }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('app_series_edit', {'id': series.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_series_new') }}">Create new</a>
{% endblock %}
