{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <div class="">
        <div class="container mx-auto py-8">
            <a href="{{ path('app_series_show', {'id': season.series.id}) }}">
                <h1 class="text-4xl text-white font-bold mb-8 hover:text-red-500">Season {{ season.number }}</h1>
            </a>
            {% if app.user %}
                {% set allSeasonEpisodesView = true %}
                {% for episode in season.episodes %}
                    {% if episode not in app.user.episode %}
                        {% set allSeasonEpisodesView = false %}
                    {% endif %}
                {% endfor %}
                {% if app.user and allSeasonEpisodesView %}
                    <form action="{{ path('season_unview', {'id': season.id}) }}" method="post">
                        <button type="submit" class="bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Unview all episodes season</button>
                    </form>
                {% else %}
                    <form action="{{ path('season_view', {'id': season.id}) }}" method="post">
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">View all episodes season</button>
                    </form>
                {% endif %}
            {% endif %}
            <div class="flex flex-col">
                <span class="text-white text-xl font-bold mr-4">Episodes:</span>
                {% for episode in season.episodes %}
                    <div class="bg-gray-800 rounded-lg p-4 my-4 flex justify-between w-2/6">
                        <span class="text-white text-xl font-bold mr-4">#{{ episode.number }} {{episode.title }}</span>
                        {# button if episode is viewed #}
                        {% if app.user %}
                            {% if episode in app.user.episode %}
                                <form action="{{ path('episode_unview', {'id': episode.id}) }}" method="post">
                                    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                        Unview
                                    </button>
                                </form>
                            {% else %}
                                <form id="episode_view_form_{{episode.id}}" action="{{ path('episode_view', {'id': episode.id}) }}" method="post">
                                    <button type="submit" class="bg-red-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="return confirmAndSubmit('{{ episode.id }}');">
                                        View
                                    </button>
                                </form>
                                <form id="episode_view_precedent_form_{{episode.id}}" action="{{ path('episode_view_precedent', {'id': episode.id}) }}" method="post" style="display: none;">
                                    <button type="submit"></button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}           
            </div>
        </div>
    </div>
<script>
function confirmAndSubmit(id) {
    if (confirm('Have you already seen the previous episodes?')) {
        document.getElementById('episode_view_precedent_form_'+id).submit();
        return true;
    }
    else {
        document.getElementById('episode_view_form_'+id).submit();
    }
    return false;
}
</script>
{% endblock %}
